[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
numpy = "*"
pandas = "*"
scipy = "*"
sympy = "*"
matplotlib = "*"
pyqt5 = "*"

[dev-packages]

[requires]
python_version = "3.9"
